html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.body {
    font-family: 'Droid Sans', sans-serif;    
}

/* HEADER STYLING */
.header {
    width: 100%;
    height: 110px;
    display: block;
}



.header__wrapper--left {
    display: block;
}

.header__logo {
    display: inline-block;
    float: left;
}

.header__title {
    display: inline-block;
    float: left;
    margin-left: 20px;
    vertical-align: middle;
    margin-top: 20px;
}

.header__title h1 {
    color: #EC3A33;
    font-size: 29px;
    font-weight: bold;
    line-height: 32px;
}

.header__wrapper--right {
    display: block;
}

.nav {
    display: inline-block;
    float: right;
}

.nav li {
    list-style-type: none;
}

.nav li a {
    color: #EC292A;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    text-decoration: none;
}

.header__login {
    display: inline-block;
    float: right;
}

.header__login button {
    height: 50px;
    width: 204.09px;
    background-color: #EC292A;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 50px;     
    border: none; 
} 

/* SLIDER STYLING */
.slider {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url('/img/sliderbg.png');
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url('/img/sliderbg.png');
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url('/img/sliderbg.png');
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url('/img/sliderbg.png');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.67)), to(rgba(0, 0, 0, 0.67))), url('/img/sliderbg.png');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url('/img/sliderbg.png');
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 750px;
	overflow: auto;
}

.slider__wrapper {
	text-align: center;
	margin: 6rem auto;
}

.slider h1 {
    margin-top: 270px;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    line-height: 54px;
    text-align: center;
}

.slider p {
  color: #FFFFFF;
  width: 791px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
}

.slider__wrapper--button button {
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 75px;
    height: 50px;
    width: 179.09px;
    border: 1px solid #FFFFFF;
}

/* FOOTER STYLING */
.footer {
	background-color: #FFF;
	padding-bottom: 5rem;
}

.footer__wrapper {
	margin-top: 7rem;
	padding: none;
	text-align: center;
}

.footer__wrapper h2 {
    color: #EC3A33;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
}

.footer .icons {
	float: left;
	width: 32.3333333%;
	display: inline-block;
}

.footer .icons h3 {
    color: #EC322F;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
}

.footer .icons p {
    max-height: 75px;
    max-width: 227.09px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin: 0 auto;
}

.icons__button button {
    height: 50px;
    width: 204.09px;
    background-color: #EC292A;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 50px;     
    border: none;  
}